@using MVC1_BookWorld.ViewModel
@model MVC1_BookWorld.ViewModel.NewBookViewModel
@{
    ViewBag.Title = "NewBookForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Book</h2>
@using (Html.BeginForm("Save", "Books"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Book.Name)
        @Html.TextBoxFor(m => m.Book.Name, new { @class = "form-control" })
    </div>

    <div class="form-group">

        @Html.LabelFor(m => m.Book.DateAdded)

        @Html.TextBoxFor(m => m.Book.DateAdded, new { @class = "form-control" })

    </div>
    <div class="form-group">

        @Html.LabelFor(m => m.Book.Genre)
        @Html.DropDownListFor(m => m.Book.GenreId, new SelectList(Model.Genre, "Id", "Name"), "Select Genre", new { @class = "form-control" })

    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Book.NumberInStock)
        @Html.TextBoxFor(m => m.Book.NumberInStock, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(m=>m.Book.ID)

    <button type ="submit" class="btn btn-primary">Save</button>
}

